*{
  font-family: Arial;
}


header{
  background-color: $primaryBgc;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;


  ul {
    float: right;
    margin-right: 20px;
    margin-top: 0px;
    li {
      display: inline-block;
      line-height: 90px;
      padding: 7px 13px;
      margin: 0 5px;
    }

    a {
      color: black;
      font-size: 17px;
      padding: 7px 13px;
      border-radius: 3px;
      text-decoration: none;
      text-transform: uppercase;
    }
    a:active, a:hover {
      background: orange;
      transition: .5s;
    }
  }

  .navbar{
    overflow: hidden;
    background-color: $primaryBgc;
  }

  img.logo{
    float: left;
    width: 250px;
    height: 120px;
    line-height: 80px;
    display: flex;

  }
}

@media (max-width:  981px) {
  .header ul li a{
    font-size: 16px;
  }
}

.checkBtn{
  font-size: 30px;
  margin-top: 40px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.menu-icon{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

#check{
  display: none;
}

@media (max-width: 532px) {
  .checkBtn{
    display: block;
  }

  header ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 120px;
    left: -110%;
    text-align: inherit;
    transition: all .5s;
  }
  header ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    }

    header ul li a {
      font-size: 20px;
      right: 10%;
    }

    a:active, a:hover {
      background: none;
      color: purple;
    }

  #check:checked ~ ul{
    left: -0;
  }

}


