h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #281414;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.search {
  position: absolute;
  top: 1rem;
  left: 80%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  border: none;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}


@media (max-width:  958px) {
  .search {
    display: flex;
  }
}