.search-box {
  position: absolute;
  top: 1rem;
  left: 70%;
  transform: translateX(-50%);
  width: 100%;
  border: none;
  z-index: 10;

  .search-box input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
  }
}