@import "variables";
@import "header";
@import "img";
@import "form";
@import "maps";
@import "footer";

.column-pages{
  float: left;
  width: 50%;
}

.row-pages{
  display: table;
  clear: both;
}

@media screen and (max-width: 538px) {
  .column {
    width: 100%;
  }
}